*{
    font-family: 'SF Pro' !important;
    border: none !important; outline: none !important; box-shadow: none !important;
}

#navigator-toolbox, #sidebar-box, #TabsToolBar, #PersonalToolbar, #nav-bar, #urlbar, #urlbar-background, #urlbar-input-container, .titlebar-button, .toolbar-items, #appMenu-mainView{
    background-color: rgb(24, 27, 40) !important;
    color: white !important;
}
toolbox#navigator-toolbox{
    --tabs-border-color: transparent !important;
}
/* Div separando as abas dos botões */
.titlebar-spacer{
    
}
/* Div contendo -> botões de fechar, minimizar, maximizar e as abas */
toolbar#TabsToolbar{
    padding: 10px !important;
    
}
    /* Div contendo apenas as abas */
    .toolbar-items{
        
    }
        tab, tab *, .tab-background[selected="true"]{
            /* Faz as abas terem bordas arredondadas e remove cor de fundo de divs internas */
            background-color: transparent !important;
            border-radius: 10px !important;
        }
        :root[uidensity="touch"]{
            --inline-tab-padding: 9px 0 !important;
            --tab-min-height: 0 !important;
        }
        .tab-content:not([selected="true"]){
            /* Remove bordas separadoras de abas não selecionadas */
            outline: 1px solid rgb(24, 27, 40) !important;
            z-index: 2;
        }
        /* O interior da aba selecionada/ativa */
        .tab-content[selected="true"]{
            background: linear-gradient(to left, rgb(56, 96, 255), rgb(198, 35, 255)) !important;
            color: white !important;
        }
    /* Div contendo apenas os botões */
    .titlebar-buttonbox-container{

    }   /* Div interna contendo os tres botões */
        .titlebar-buttonbox{

        }
            /* As divs dos 3 botões */
            .titlebar-button{
                transition: 0.3s ease-in-out;
            }
                /* Os icones dos 3 botões */
                .toolbarbutton-icon{

                }
                /* Botão Minimize (Minimizar) */
                .titlebar-min image{
                    list-style-image: none !important;
                    opacity: 0 !important;
                }.titlebar-min{
                    background-image: url('img/minimize.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }.titlebar-min:hover{
                    opacity: 0.5 !important;
                }
                /* Botão Maximize (Maximizar) */
                .titlebar-max image{
                    list-style-image: none !important;
                    opacity: 0 !important;
                }.titlebar-max{
                    background-image: url('img/maximize.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }.titlebar-max:hover{
                    opacity: 0.5 !important;
                }
                /* Botão Restore (Restaurar) */
                .titlebar-restore image{
                    list-style-image: none !important;
                    opacity: 0 !important;
                }.titlebar-restore{
                    background-image: url('img/maximize.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }.titlebar-restore:hover{
                    opacity: 0.5 !important;
                }
                /* Botão Close (Fechar) */
                .titlebar-close image{
                    list-style-image: none !important;
                    opacity: 0 !important;
                }.titlebar-close{
                    background-image: url('img/close.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }.titlebar-close:hover{
                    opacity: 0.5 !important;
                }

/* Div contendo -> botões de voltar, avançar, barra de pesquisa, etc. */
#nav-bar {

}                                
    /* Div interna, não contendo apenas o botão de menu */
    #nav-bar-customization-target{

    }
        /* Botões de voltar e avançar */
        #back-button{

        }#forward-button{

        }
        /* Espaço vazio entre os botões de navegação e a barra de pesquisa */
        #customizableui-special-spring1{

        }
        /* Div contendo a barra de pesquisa e seus botões */
        #urlbar-container{

        }
            /* Div interna contendo tudo */
            #urlbar{

            }