*{
    font-family: 'SF Pro Display' !important;
    border: none !important;
    outline: none !important;
}#navigator-toolbox{
    background-color: rgb(24, 27, 40) !important;
}#navigator-toolbox *{
    background-color: rgb(24, 27, 40) !important;
}#navigator-toolbox * *{
    background-color: inherit !important;
}
/* Div separando as abas dos botões */
.titlebar-spacer{
    display: none !important;
}
/* Div contendo -> botões de fechar, minimizar, maximizar e as abas */
#TabsToolBar{
    
}
    /* Div contendo apenas as abas */
    .toolbar-items{
        display: flex;
        justify-content: center;
        transform: translateX(120px);
    }
        /* O interior da aba selecionada/ativa */
        .tab-content[selected="true"]{
            background: linear-gradient(to right, rgb(56, 96, 255), rgb(198, 35, 255));
            padding: 0 !important;
        }
        tab:not([pinned="true"]){
            width: 220px !important;
            max-width: 220px !important;
            padding: 5px 10px !important;
        }
    /* Div contendo apenas os botões */
    .titlebar-buttonbox-container{

    }   /* Div interna contendo os tres botões */
        .titlebar-buttonbox{

        }
            /* As divs dos 3 botões */
            .titlebar-button{
                transition: 0.3s ease-in-out;
            }
                /* Os icones dos 3 botões */
                .toolbarbutton-icon{

                }
                /* Cada um dos 3 botões da esquerda para a direita */
                .titlebar-min image{
                    list-style-image: url('img/minimize.png') !important;
                }.titlebar-max image{
                    list-style-image: url('img/maximize.png') !important;
                }.titlebar-restore image{
                    list-style-image: url('img/maximize.png') !important;
                }.titlebar-close image{
                    list-style-image: url('img/close.png') !important;
                }.titlebar-close image:{
                    
                }.titlebar-close:hover{
                    filter: brightness(50%) !important;
                }

/* Div contendo -> botões de voltar, avançar, barra de pesquisa, etc. */
#nav-bar {

}                                
    /* Div interna, não contendo apenas o botão de menu */
    #nav-bar-customization-target{

    }
        /* Botões de voltar e avançar */
        #back-button{

        }#forward-button{

        }
        /* Espaço vazio entre os botões de navegação e a barra de pesquisa */
        #customizableui-special-spring1{

        }
        /* Div contendo a barra de pesquisa e seus botões */
        #urlbar-container{

        }
            /* Div interna contendo tudo */
            #urlbar{

            }